<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/helpers.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/typography.css">
    <link rel="stylesheet" href="/css/task/task.css">
    <title th:text="#{task.list.title}">Add task</title>
</head>

<body>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<div class="container display--flex justify--center align--center">
    <div class="app-container addtask-container">
        <div class="div-addtask">
            <form class="form-addtask" th:action="@{/task/add}" th:method="post" th:object="${createTaskCommand}">
                <div class="title">
                <label><b class="color--secondary">Title:
                </b>
                </label>
                </div>
                <input class="name" type="text" required name="name" placeholder="Name">
                <div class=" description">
                <label><b class="color--secondary">Description
                </b>
                </label>
                </div>
                <textarea class="description-input" type="text" required name="description" placeholder="Description"></textarea>
                <div class="input-group date" data-provide="datepicker">
                    <input name="deadline" type="datetime-local">
                </div>
                <button class="save-btn" type="submit" name="Save">Save</button>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    $('#date').datepicker({
        format: 'dd-MM-yyyy'
    });
</script>

</html>