<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/helpers.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/typography.css">
    <link rel="stylesheet" href="/css/task/task.css">
    <title th:text="#{add.page.title}">Add task</title>
</head>

<body>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<div class="container display--flex justify--center align--center">
    <div class="app-container addtask-container">
        <div class="div-addtask">
            <form class="form-addtask" th:action="@{/task/add}" th:method="post" th:object="${createTaskCommand}">
                <fieldset>
                    <div class="title">
                        <label  th:text="#{add.task.title}" class="color--secondary">Title</label>
                    </div>
                    <input th:field="*{name}" class="name" type="text" required name="name" th:placeholder="#{add.task.name}">
                    <div class="description">
                        <label th:text="#{add.task.description}" class="color--secondary">Description</label>
                    </div>
                    <div>
                        <textarea th:field="*{description}" class="description-input" type="text" required
                                  name="description" th:placeholder="#{add.task.desc}"></textarea>
                    </div>
                    <div class="deadline" data-provide="datepicker">
                        <label th:text="#{add.task.deadline}" class="color--secondary">Deadline</label>
                    </div>
                    <div class="deadline">
                        <input th:field="*{deadline}" name="deadline" type="date">
                    </div>
                </fieldset>
                <div th:if="${#fields.hasErrors()}" th:text="${#fields.errors()}"/>
                <br>
                <button th:text="#{add.task.save.button}" class="save-btn" type="submit" name="Save">Save</button>
            </form>
        </div>
    </div>
</div>
</body>
<!--<script>-->
<!--    $('#date').datepicker({-->
<!--        format: 'dd-MM-yyyy'-->
<!--    });-->
<!--</script>-->
</html>