<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/helpers.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/typography.css">
    <link rel="stylesheet" href="/css/task/task.css">
    <title th:text="#{task.list.title}">Liste zadań</title>
</head>
<body>
<h1>Lista zadań</h1>
<table>
    <tr>
        <th>Nazwa</th>
        <th>Opis</th>
        <th>Data stworzenia</th>
        <th>Deadline</th>
    </tr>
    <tr th:each="task : ${userTasks}">
        <th th:text="${task.name}"></th>
        <th th:text="${task.description}"></th>
        <th th:text="${#temporals.format(task.createdOn,'yyyy-MM-dd : HH:mm')}"></th>
        <th th:text="${#temporals.format(task.deadline,'yyyy-MM-dd : HH:mm')}"></th>
    </tr>
</table>
    <button onclick="location.href='/task/add'">Dodaj nowe zadanie</button>
</body>
</html>