body {
    margin: 0;
    padding: 0;
    background-color: #6abadeba;
    font-family: 'Open Sans', sans-serif;
}

.login {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

.login-btn {
    background-image: linear-gradient(120deg, #d6e4ed 0%, #c8dbe7 100%);
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;


}

.title-log {
    font-size: 4vh;
    text-align: center
}

.singup {
    background-image: linear-gradient(120deg, #d6e4ed 0%, #c8dbe7 100%);
    color: black;
    padding: 4px 5px;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    font-size: small;
}

.login-container {
    width: 40vw;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    color: #277582;
    padding: 20px;
}

label {
    color: #000000;
    font-size: 17px;
}

#username {
    width: 300px;
    height: 30px;
    border-radius: 3px;
    padding-left: 8px;
    border-color: #9ba4b4;
}

#password {
    width: 300px;
    height: 30px;
    border-radius: 3px;
    padding-left: 8px;
    border-color: #9ba4b4;

}


a {
    margin-left: 5px;
}