body {
    font-family: 'Open Sans', sans-serif;
}

/*.login {*/
/*    height: 30vh;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

/* .login-container {
    width: 28vw;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
} */

.greetings-wrapper {
    padding: 35px;
    height: inherit;
    width: 50%;
    border-radius: 18.5px 0px 0px 18.5px;
    color: #ffffff;
    background-color: #adc9db;
}

.greetings-message-lx,
.greetings-message-l {
    padding-bottom: 40px;
}

.greetings-message-l {
    line-height: 120%;
}

.login-wrapper {
    padding: 50px 35px 35px 35px;
    height: inherit;
    width: 50%;
}

.login-btn {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    border: none;
    border-radius: 35px;
    box-shadow: -4px -4px 15px #FFF, 4px 4px 15px #9fc0d5;
    background-color: #ffffff;
}

.title-log {
    margin-bottom: 10px;
    text-align: center
}

.form-login {
    padding: 10px 30px 0px 30px;
    width: 380px;
    height: 250px;
    border-radius: 10px;
    background-color: #e5edf3;
    box-shadow: 0px 5px 10px 0px #bdc7cd;
}

/* sign-up-section */

.sign-up-wrapper {
    margin-top: 20px;
}

.sign-up-btn {
    height: 50px;
    width: 150px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 35px;
    box-shadow: -4px -4px 15px #FFF, 4px 4px 15px #bdc7cd;
    border-radius: 35px;
}

.sign-up-btn_icon {
    padding-left: 10px;
}

label {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
    color: #bdc7cd;
    text-shadow: 1px 1px 0px #ffffff;
}

#username {
    width: 320px;
    height: 5vh;
    border-radius: 3px;
    padding-left: 8px;
    border-color: #9ba4b4;
}

#password {
    width: 320px;
    height: 5vh;
    border-radius: 3px;
    padding-left: 8px;
    border-color: #9ba4b4;

}