.greetings-wrapper {
    padding: 35px;
    height: inherit;
    width: 50%;
    border-radius: 18.5px 0px 0px 18.5px;
    color: #ffffff;
    background-color: #adc9db;
}

.greetings-message-lx,
.greetings-message-l {
    padding-bottom: 40px;
}

.greetings-message-l {
    line-height: 120%;
}

.greetings-message-s {
    padding-bottom: 20px;
    line-height: 80%;
}

.login-wrapper {
    padding: 80px 35px 35px 35px;
    height: inherit;
    width: 50%;
}

.title-log {
    margin-bottom: 15px;
    text-align: center
}

/* sign-up-section */

.sign-up-wrapper {
    margin-top: 20px;
}

.sign-up-btn {
    height: 50px;
    width: 170px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 35px;
    box-shadow: -4px -4px 15px #FFF, 4px 4px 15px #bdc7cd;
    border-radius: 35px;
}

.sign-up-btn_icon {
    font-size: 17.5px;
    padding-left: 10px;
}