.add-task-container {
    width: 450px;
    height: 600px;
    padding: 35px 35px 35px 35px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px #9fc0d5;
}

.title-add {
    text-align: center;
    margin-bottom: 15px;
}

#name-input,
#description-input {
    width: 320px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 7.5px;
    box-shadow: inset 1px 1px 2px #bdc7cd, inset -1px -1px 2px #ffffff;
    transition: all 0.2s ease-in-out;
}

#name-input {
    height: 35px
}

#description-input {
    height: 210px;
    resize: none;
}

.form-login {
    height: 490px;
}

.deadline {
    text-align: left;
    height: 35px;
    width: 320px;
    border-radius: 7.5px;
}

.register-btn_icon {
    padding-left: 10px;
}