body {
    background-color: #6abadeba;
    font-family: 'Open Sans', sans-serif;
}
.form-addtask{
    width: 35vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: space-between;
}

.div-addtask {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

}

.save-btn {
    background-image: linear-gradient(120deg, #d6e4ed 0%, #c8dbe7 100%);
    width: 30vw;
    height: 5vh;
    border: none;
    border-radius: 17px;
    padding-left: 7px;


}

.title-log {
    font-size: 4vh;
    text-align: center;
}

.addtask-container {
    width: 40vw;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    text-align: center;
}
.description{
    text-align: center;
}


label {
    color: #000000;
    font-size: 17px;
}

.name {
    width: 35vw;
    height: 5vh;
    border-radius: 3px;
    padding-left: 8px;
    border-color: #9ba4b4;
    margin-bottom: 20px;
}

.description-input {
    width: 35vw;
    height: 15vh;
    border-radius: 3px;
    padding-left: 8px;
    border-color: #9ba4b4;
    resize: none;
    margin-bottom: 20px;

}
