* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.add-task-container {
    width: 450px;
    height: 600px;
    padding: 35px 35px 35px 35px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px #9fc0d5;
}

.title-add {
    text-align: center;
    margin-bottom: 15px;
}

#name-input,
#description-input {
    width: 320px;
    padding-left: 10px;
    padding-right: 5px;
    border-radius: 7.5px;
    box-shadow: inset 1px 1px 2px #bdc7cd, inset -1px -1px 2px #ffffff;
    transition: all 0.2s ease-in-out;
}

#name-input {
    height: 35px
}
.deadline{
    text-align: center;
}

#description-input {
    height: 210px;
    resize: none;
}

.form-login {
    height: 490px;
}

.deadline {
    height: 35px;
    width: 320px;
    border-radius: 7.5px;
}

textarea:active,
textarea:focus {
    border: none;
    outline: none;
    border-radius: 7.5px;
}

textarea::placeholder {
    font-size: 14px;
    color: #bdc7cd;
}

textarea {
    border: none;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: #bdc7cd;
    background-color: #e5edf3;
    box-shadow: inset 1px 1px 2px #bdc7cd, inset -1px -1px 2px #ffffff;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
}