* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(120deg, #d6e4ed 0%, #c8dbe7 100%);
}

.app-container {
    width: 900px;
    height: 600px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px #9fc0d5;
}

/* right-side */

.right-side-wrapper {
    width: 175px;
    height: inherit;
    border-radius: 20px 0px 0px 20px;
}

.menu-bar-section {
    height: 50px;
    width: 175px;
    background-color: #ffffff;
    border-radius: 20px 0px 0px 0px;
}

.menu_btn {
    padding-left: 15px;
}

.menu_icon {
    font-size: 20px;
    margin-right: 10px;
}

.menu_title {
    font-size: 16px;
}

.task-list {
    padding-top: 15px;
}

.custom-task {
    height: 45px;
    padding-left: 15px;
}

.task_icon {
    padding-right: 7.5px;
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
}

ul li:hover {
    background: #ffffff;
}

ul li:hover ul {
    display: block;
}

ul li ul {
    position: absolute;
    width: 175px;
    display: none;
}

ul li ul li {
    background: #9fc0d5;
    display: block;
}

/* ul li ul li {
    display: block !important;
} */

.menu_icon {
    display: block !important
}

ul li ul li:hover {
    background: #c8dbe7;
}

/* .menu_btn:hover {

} */

/* left-side */

.left-side-wrapper {
    width: 725px;
    height: inherit;
    border-radius: 0px 20px 20px 0px;
}

.navigation-bar {
    width: inherit;
    height: 50px;
    border-radius: 22.5px 22.5px 0px 0px;
}

.main-wrapper {
    width: inherit;
    height: 550px;
    border-radius: 0px 0px 22.5px 22.5px;
}

.board-section {
    height: inherit;
    width: 725px;
    background-color: #ffffff;
    border-radius: 0px 0px 20px 0px;
}

.task-view {
    height: 465px;
    width: inherit;

}

.add-btn-section {
    height: 85px;
    width: inherit;
}

.add-btn {
    font-size: 40px;
}

.add-btn-wrapper {
    width: 55px;
    height: 55px;
    border-radius: 35px;
    box-shadow: 0px 5px 10px 0px #9fc0d5;
    margin-right: 15px;
}

.single-task-wrapper {
    width: 710px;
    height: 465px;
    border-radius: 20px;
    background-color: #f2f6f9;
    box-shadow: 0px 5px 10px 0px #9fc0d5;
}

.task-inf-section {
    width: 475px;
    padding-left: 10px;
    padding-top: 10px;
}

.task-btn-section {
    width: 235px;
    padding-top: 10px;
}

.task-name,
.task-description {
    width: 455px;
    border-radius: 7.5px;
}

.task-name {
    margin-bottom: 10px;
}

.task-name {
    height: 35px;
}

.task-description {
    height: 400px;
}

.date-created,
.date-deadline {
    height: 35px;
    width: 225px;
    border-radius: 7.5px;
}

.date-created {
    margin-bottom: 10px;
}

.action-btn-wrapper {
    width: inherit;
    height: 375px;

}

.save-btn-wrapper,
.trash-btn-wrapper {
    width: 45px;
    height: 45px;
    border-radius: 35px;
    box-shadow: 0px 5px 10px 0px #9fc0d5;
    margin-right: 12.5px;
    margin-bottom: 12.5px;
    background-color: #ffffff;
}

.save-btn-wrapper:hover,
.trash-btn-wrapper:hover,
.add-btn-wrapper:hover {
    cursor: pointer;
}


input {
    border: 1px solid #9ba4b4;
}

input:focus {
    border: none;
}

.search-bar-section {
    height: inherit;
    width: 400px;
    background-color: #ffffff;
}

.logged-in-section {
    height: inherit;
    width: 325px;
    background-color: #ffffff;
    border-radius: 0px 22.5px 0px 0px;
    padding-right: 22.5px;
}

.profile-icon {
    font-size: 1.5rem;
    margin-right: 1rem;
}

a:visited {
    color: #9ba4b4;
}

.add-btn-wrapper {
    text-decoration: none;
}

.add-btn {
    text-decoration: none;
}

a {
    text-decoration: none;
}

input:active,
input:focus {
    outline: none;
    border: 1px solid #9ba4b4;
    border-radius: 7.5px;
}