* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(120deg, #d6e4ed 0%, #c8dbe7 100%);
}

.app-container {
    width: 900px;
    height: 600px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px #9fc0d5;
}

/* right-side */

.left-side-wrapper {
    width: 175px;
    height: inherit;
    border-radius: 20px 0px 0px 20px;
}

.menu-section {
    height: inherit;
    width: 175px;
    background-color: #ffffff;
    border-radius: 20px 0px 0px 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    margin-left: 20px;
    margin-top: 20px;
    padding: 0px 0px 20px 0px;
    cursor: pointer;
}

.menu_icon {
    font-size: 22.5px;
    margin-right: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    border-radius: 12px 12px 12px 12px;
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}

.dropdown-content div {
    width: 300px;
    cursor: pointer;
}

.dropdown-content div:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    box-shadow: 0px 5px 10px 0px #bdc7cd;
    display: block;
}

.dropdown:hover .dropdown-btn {
    background-color: #ffffff;
    border-radius: 12px 12px 0px 0px;
}

.custom-task {
    height: 45px;
    padding-left: 15px;
}

.task_icon {
    padding-right: 7.5px;
}

/* left-side */

/*navigation-bar*/

.right-side-wrapper {
    width: 725px;
    height: inherit;
    border-radius: 0px 20px 20px 0px;
}

.nav-bar {
    width: inherit;
    height: 60px;
    border-radius: 20px 20px 0px 0px;
}

.login-section {
    height: inherit;
    width: 725px;
    background-color: #ffffff;
    border-radius: 0px 20px 0px 0px;
    padding-right: 15px;
}

.heading {
    margin-top: 20px;
}

.profile-icon {
    margin-top: 12.5px;
    font-size: 35px;
    color: #bdc7cd;
    cursor: pointer;
}

/* main section */

.main-wrapper {
    width: inherit;
    height: 540px;
    border-radius: 0px 0px 20px 20px;
}

.board-section {
    height: inherit;
    width: 725px;
    background-color: #ffffff;
    border-radius: 0px 0px 20px 0px;
}

.task-view {
    height: 465px;
    width: inherit;
    padding-right: 15px;
}

.single-task-wrapper {
    width: 710px;
    height: 465px;
    border-radius: 10px;
    background-color: #e5edf3;
    box-shadow: 0px 5px 10px 0px #bdc7cd;
}

.left-task-section {
    width: 475px;
    padding-left: 10px;
    padding-top: 10px;
}

.right-task-section {
    width: 235px;
    padding-top: 10px;
}

.task-label {
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: bolder;
    color: #bdc7cd;
    text-shadow: 1px 1px 0px #ffffff;
}

.task-name,
.task-description,
.date-created,
.date-deadline {
    border-radius: 7.5px;
}

.task-name,
.task-description {
    width: 455px;
}

.task-name {
    margin-bottom: 10px;
    height: 35px;
}

.task-description {
    height: 355px;
}

.date-created,
.date-deadline {
    height: 35px;
    width: 225px;
}

.date-created {
    margin-bottom: 10px;
}

/* action-buttons-section */

.action-btn-wrapper {
    width: inherit;
    height: 330px;
}

.save-btn-wrapper,
.trash-btn-wrapper {
    width: 45px;
    height: 45px;
    border-radius: 35px;
    box-shadow: -4px -4px 15px #FFF, 4px 4px 15px #9fc0d5;
    margin-right: 12.5px;
    margin-bottom: 12.5px;
    background-color: #ffffff;
}

.save-btn-wrapper:hover,
.trash-btn-wrapper:hover,
.add-btn-wrapper:hover {
    cursor: pointer;
}

.save-btn_icon,
.trash-btn_icon {
    text-shadow: 1px 1px 0px #ffffff;
}

/* add-button-section */

.add-btn-section {
    height: 75px;
    width: inherit;
    padding-right: 15px;
}

.add-btn-wrapper {
    width: 175px;
    height: 50px;
    border-radius: 35px;
    box-shadow: -4px -4px 15px #FFF, 4px 4px 15px #bdc7cd;
    text-decoration: none;
}

.add-btn_label {
    margin-right: 15px;
    font-weight: 600;
}

.add-btn_icon {
    font-size: 30px;
    text-decoration: none;
}

.info-btn-wrapper {
    width: 45px;
    height: 45px;
    border-radius: 35px;
    box-shadow: -4px -4px 15px #FFF, 4px 4px 15px #bdc7cd;
    cursor: pointer;
}

.info-btn_icon {
    font-size: 25px;
    color: #bdc7cd;
}

a {
    text-decoration: none;
}

a,
a:visited,
a:focus {
    color: #bdc7cd;
}

input:active,
input:focus {
    border: none;
    outline: none;
    border-radius: 7.5px;
}

input {
    border: none;
    padding-left: 10px;
    padding-right: 5px;
    color: #bdc7cd;
    background-color: #e5edf3;
    box-shadow: inset 1px 1px 2px #bdc7cd, inset -1px -1px 2px #ffffff;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
}

/* input::placeholder {
    color: #9fc0d5;
}

input[type=date]::-webkit-calendar-picker-indicator {
    color: #9fc0d5;
}

input[type=date]::-webkit-clear-button {
    color: #9fc0d5;
}

input[type=date]::-webkit-inner-spin-button {
    color: #9fc0d5;
} */