<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/helpers.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/typography.css">
    <link rel="stylesheet" href="/static/css/login/login.css">
    <title>Login Page</title>
</head>

<body>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <div class="container display--flex justify--center align--center">
        <div class="app-container display--flex display--row">
            <div class="greetings-wrapper">
                <h1 class="greetings-message-lx font-size--xl">Welcom to<br>our new<br>Task App.</h1>
                <h2 class="greetings-message-l font-size--l">Task App is an efficient task organizer that enables its
                    users to keep track of their projects, tasks and goals.</h2>
                <h2 class="greetings-message-l font-size--l">Start using it today!</h2>
            </div>
            <div class="login-wrapper">
                <h1 class="title-log color--primary font-size--l">Login</h1>
                <div class="form-wrapper">
                    <form class="form-login display--flex flex--column color--primary" th:action="@{/login}"
                        th:method="post">
                        <label>Email</label>
                        <input type="email" required name="username" id="username" placeholder="Email">
                        <label>Password</label>
                        <input type="password" required name="password" id="password" placeholder="Password">
                        <div class="display--flex justify--center align--center">
                            <button class="login-btn color--primary font-size" type="submit" name="Login">Log In</button>
                        </div>
                    </form>
                </div>
                <!-- sign-up-section -->
                <div class="sign-up-wrapper display--flex flex--row color--primary justify--center align--center">
                    <div>Don't have an account?</div><a href="/register">
                        <div class="sign-up-btn display--flex flex--row justify--center align--center">
                            <p class="sign-up-btn_label font-size">Sign up now!</p>
                            <i class="sign-up-btn_icon fas fa-pencil-alt"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>